<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Books</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='css/style.css') }}">

</head>

<body>

<div class="dashboard">


    <!-- Sidebar -->

<div class="sidebar">

    <h2>Library</h2>

    <ul>

        <li>
            <a href="/dashboard">
                Dashboard
            </a>
        </li>

        <li>
            <a href="/books">
                Books
            </a>
        </li>

        <li>
            <a href="/students">
                Students
            </a>
        </li>

        <li>
            <a href="/issue">
                Issue Book
            </a>
        </li>

        <li>
            <a href="/return">
                Return Book
            </a>
        </li>

        <li>
            <a href="/smart_scanner">
                QR Issue
            </a>
        </li>

        <li>
            <a href="/smart_return">
                QR Return
            </a>
        </li>

        <li>
            <a href="/history">
                History
            </a>
        </li>

        <li>
            <a href="/search">
                Search
            </a>
        </li>

        <li>
            <a href="/">
                Logout
            </a>
        </li>

    </ul>

</div>

    <!-- Main Content -->

    <div class="main-content">

        <h1>Add Books</h1>


        <!-- Book Form -->

        <form action="/add_book"
              method="POST"
              class="book-form">

            <input type="text"
                   name="book_id"
                   placeholder="book_id"
                   required>

            <input type="text"
                   name="title"
                   placeholder="Book Title"
                   required>

            <input type="text"
                   name="author"
                   placeholder="Author Name"
                   required>

            <input type="text"
                   name="edition"
                   placeholder="Edition"
                   required>

            <input type="text"
                   name="publisher"
                   placeholder="Publisher"
                   required>

            <input type="number"
                   name="price"
                   placeholder="Price"
                   required>

            <input type="number"
                   name="quantity"
                   placeholder="Quantity"
                   required>

            <button type="submit">

                Add Book

            </button>

        </form>


        <!-- Book List + Export -->

        <div class="top-bar">

            <h2 class="table-title">

                Book List

            </h2>


            <a href="/export_books">

                <button class="export-btn">

                    Export Excel

                </button>

            </a>

        </div>


        <!-- Book Table -->

        <table>

            <tr>

                <th>Accesion Number</th>

                <th>Title</th>

                <th>Author</th>

                <th>Edition</th>

                <th>Publisher</th>

                <th>Price</th>

                <th>Quantity</th>

                <th>QR Code</th>

                <th>Action</th>

            </tr>


            {% for book in books %}

            <tr>

                <td>

                    {{ book.book_id }}

                </td>

                <td>

                    {{ book.title }}

                </td>

                <td>

                    {{ book.author }}

                </td>

                <td>

                    {{ book.edition }}

                </td>

                <td>

                    {{ book.publisher }}

                </td>

                <td>

                    ₹ {{ book.price }}

                </td>

                <td>

                    {{ book.quantity }}

                </td>

                <td>

                    <img src="{{ url_for('static',
                    filename='qr/' + book.book_id + '.png') }}"
                    width="80">

                </td>


                <td>

                    <a href="/delete_book/{{ book.book_id }}"
                       class="delete-link">

                        Delete

                    </a>

                </td>

            </tr>

            {% endfor %}

        </table>

    </div>

</div>

</body>
</html>