<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Search Books</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='css/style.css') }}">

</head>

<body>

<div class="dashboard">

    <!-- Sidebar -->

    <!-- Sidebar -->

<div class="sidebar">

    <h2>Library</h2>

    <ul>

        <li>
            <a href="/dashboard">
                Dashboard
            </a>
        </li>

        <li>
            <a href="/books">
                Books
            </a>
        </li>

        <li>
            <a href="/students">
                Students
            </a>
        </li>

        <li>
            <a href="/issue">
                Issue Book
            </a>
        </li>

        <li>
            <a href="/return">
                Return Book
            </a>
        </li>

        <li>
            <a href="/smart_scanner">
                QR Issue
            </a>
        </li>

        <li>
            <a href="/smart_return">
                QR Return
            </a>
        </li>

        <li>
            <a href="/history">
                History
            </a>
        </li>

        <li>
            <a href="/search">
                Search
            </a>
        </li>

        <li>
            <a href="/">
                Logout
            </a>
        </li>

    </ul>

</div>

    <!-- Main Content -->

    <div class="main-content">

        <h1>Smart Book Search</h1>


        <!-- Search Form -->

        <form method="POST"
              class="book-form">

            <input type="text"
                   name="search"
                   placeholder="Search By book_id, Title or Author"
                   required>

            <button type="submit">

                Search

            </button>

        </form>


        <!-- Search Results -->

        <table>

            <tr>

                <th>book_id</th>

                <th>Title</th>

                <th>Author</th>

                <th>Edition</th>

                <th>Publisher</th>

                <th>Price</th>

                <th>Quantity</th>

                <th>QR Code</th>

            </tr>


            {% for book in books %}

            <tr>

                <td>

                    {{ book.book_id }}

                </td>

                <td>

                    {{ book.title }}

                </td>

                <td>

                    {{ book.author }}

                </td>

                <td>

                    {{ book.edition }}

                </td>

                <td>

                    {{ book.publisher }}

                </td>

                <td>

                    ₹ {{ book.price }}

                </td>

                <td>

                    {{ book.quantity }}

                </td>

                <td>

                    <img src="{{ url_for('static',
                    filename='qr/' + book.book_id + '.png') }}"
                    width="80">

                </td>

            </tr>

            {% endfor %}

        </table>

    </div>

</div>

</body>
</html>